#details-container {
    width: 50%;
    margin: 16px;
    border: 1px solid lightgrey;
    padding: 16px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

label {
    display: block;
    margin: 8px 0px;
}
